body {
    background-size: 100% 100%;
    font-family: helvetica;  
    background-image: url("../bilder/diverse/ocean.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#photo {
    width:100px;
    height:100px;
    margin: 2px auto;
    margin-top: 10px;
    display: block;
}
#maintext {
    text-align: center;
}
#main {
    display: inline-block;
    border-radius: 5px;
    margin: 0px auto 20px;
    background-color: rgba(255, 255, 255, 0.9);
}

.artpic {
    max-width: 100%;
    margin-bottom: 10px;
}


.matbloggcover {
    position: relative;
    margin-bottom: 10px;
}
.matbloggtittel {
    font-weight: bold;
    font-size: 2em;
    color: white;
    position: absolute;
    top: 5px;
    left: 5px;
}
.matbloggknapp {
    color: white;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.matbloggknapp:hover {
    cursor: pointer;
}
.matbloggbilde {
    margin-left: -15px;
    width: 106%;
    width: calc(100% + 30px);
}