#header {
    font-family: helvetica;
    text-transform: uppercase;
    font-weight: bold;
    color: #fa6121;
    text-align: center;
}

#navmenu {
    list-style: none;
    width: 195px;
    margin: 0 auto;
    height: 22px;
    padding: 0;
    
}
#navmenu li {
    float: left;
    margin: 5px 10px;
}
#navmenu li a, #navmenu li a:hover {
    color: #fa6121;
    text-decoration: none;
}
