
body::after {
  content: "";
  background: url("bilder/ocean.jpg");
  opacity: 0.7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

#Header {
    font-family: helvetica;
    text-transform: uppercase;
    font-weight: bold;
    color: #fa6121;
    text-align: center;
}

.galleryphoto {
    width: 100%;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#navmenu {
    padding: 0;
    list-style: none;
    width: 192px;
    margin: 0 auto;
    height: 40px;
}
#navmenu > li {
    float: left;
    margin: 5px 10px;
    
}

#navmenu > li > a, #navmenu > li > a:hover {
    color: #fa6121;
    text-decoration: none;
}

