body {
    background-size: 100% 100%;
    font-family: helvetica;  
    background-image: url("bilder/ocean.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#Header {
    font-family: helvetica;
    text-transform: uppercase;
    font-weight: bold;
    color: #fa6121;
    text-align: center;

}

#allbutmain:hover {
    overflow-y: auto;
}

#main {
    width: 70%;
    border-radius: 5px;
    height: auto;
    overflow-y: visible;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px 20px 20px 20px;
}

.mainpicture {
    width: 500px;
    height: 300px;
    margin: 2px auto;
    display: block;

}
#photo {
    width:100px;
    height:100px;
    margin: 2px auto;
    margin-top: 10px;
    display: block;
}

#maintext {
    text-align: center;
}

#navmenu {

    list-style: none;
    width: 300px;
    margin: 0 auto;
    height: 20px;
}
#navmenu li {
    float: left;
    margin: 5px 10px;
}

#navmenu li a, #navmenu li a:hover {
    color: #fa6121;
    text-decoration: none;
}



